:root {
  --background: #F4F4F5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Helvetica', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 95%; /* ノートパソコン用に最大幅を制限 */
  margin: 0 auto;
}

.containerFlow {
  max-width: 95%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: solid 3px #000000;
}

.action-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  border: 2px solid #F3969A;
  border-radius: 8px;
  margin-bottom: 20px;
}

button {
  background-color: #F3969A;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #F3969A;
}


h1 {
  color: #F3969A;
}

.possibility-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.possibility-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.possibility-btn {
  background-color: #F3969A;
  flex: 1;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 2%;
  transition: all 0.3s ease;
}

.possibility-score {
  flex: 0.2;
  text-align: center;
  font-size: 16px;
}

.possibility-reason {
  flex: 1;
  font-size: 14px;
  color: #666;
  text-align: left
}

/* レスポンシブ対応 */
@media (max-width: 1200px) {
  .container {
    max-width: 100%; /* ノートパソコンに合わせて幅を調整 */
  }
}

@media (max-width: 768px) {
  .possibility-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .possibility-score {
    margin-top: 5px;
  }

  .possibility-reason {
    margin-top: 5px;
    text-align: left
  }
}

.blinking-node {
  animation: blink-border 0.5s infinite;
}

@keyframes blink-border {
  0% {
    border-color: #F3969A;
  }
  50% {
    border-color: #FFFFFF;
  }
  100% {
    border-color: #F3969A;
  }
}

.topTitle {
  font-family: 'Zen Maru Gothic', sans-serif;
}.topTitle {
  font-family: 'Zen Maru Gothic', sans-serif;
}

/* リストのスタイル */
.container ul {
  list-style: none; /* デフォルトのリストマークを削除 */
  padding-left: 0;
}

.container ul li {
  font-size: 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: flex-start;
}

.container ul li::before {
  content: "•"; /* リストマークを追加 */
  color: black;
  margin-right: 8px;
  font-size: 24px;
}

@keyframes blink {
  0% {
    background-color: #F3969A;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.01);
  }
  100% {
    background-color:  #F3969A;
  }
}

.blinking-node {
  animation: blink 2s infinite;
}
